/* Icons */

.fa {
	color: $gray-500;
}

.fa + a {
	margin-left: .5em;
}

.icon-donate {
	background: url("./assets/images/donate.svg") center center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}
