/* Organism – Site footer */

.site-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  align-content: center;
	background-color: $dark-blue;
	width: 100%;
	padding-top: 4em;
	padding-bottom: 4em;
	h3 {
		color: #fff;
		opacity: .6;
	}
	.fa {
		color: #fff;
		opacity: .4;
		padding: .5em .5em 0 .5em;
		transition: .25s;
		&:hover {
			opacity: 1;
		}
		@media screen and (max-width: 640px) {
			padding: 0 .5em;
		}
	}
	@media screen and (max-width: 1024px) {
		padding-top: 4em;
		padding-bottom: 4em;
	}
	@media screen and (max-width: 640px) {
		padding-top: 3em;
		padding-bottom: 3em;
	}
	@media screen and (max-width: 480px) {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}