/* Organism – Site header */

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.site-header {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	.logo-include-org,
	.logo-include-choir {

	}
	.button-group {
		padding-top: .25em;
		.btn {
			margin-left: .438em;
		}
		@media screen and (max-width: 640px) {
			padding-top: 0;
		}
	}
	@media screen and (max-width: 640px) {
		padding-top: 1em;
		padding-bottom: 1em;
		#get-involved {
			display: none;
		}
	}
}