@charset "UTF-8";
/* Boxouts */
.boxout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em 2em;
  margin: .5em;
  border-radius: 6px; }
  .boxout a:link,
  .boxout a:visited {
    color: #fff;
    text-decoration: none; }
  .boxout h3,
  .boxout p {
    max-width: 480px;
    text-align: center; }
  .boxout h3 {
    margin-top: .5em; }
    .boxout h3:hover {
      text-decoration: underline; }
  .boxout p {
    font-size: 1.125em;
    margin-top: 1em;
    opacity: .8;
    transition: .25s; }
    .boxout p:hover {
      opacity: 1; }
  @media screen and (max-width: 640px) {
    .boxout {
      padding: 2em 1.5em; } }

.bg-pattern-1 {
  background-image: url("../../assets/images/bg-pattern-1.png"); }

.bg-pattern-2 {
  background-image: url("../../assets/images/bg-pattern-2.png"); }

.bg-pattern-3 {
  background-image: url("../../assets/images/bg-pattern-3.png"); }

.bg-pattern-4 {
  background-image: url("../../assets/images/bg-pattern-4.png"); }

.boxouts {
  margin: 0 .5em .5em .5em !important; }
  .boxouts .col {
    flex-shrink: 1; }

/* Branding */
/* Logo */
@media screen and (max-width: 640px) {
  .logo-include-org,
  .logo-include-choir {
    height: 28px;
    margin-top: 10px; } }

/* Multi-color bar */
.multi-color-bar {
  background: url("./assets/images/multi-color-bar.png") repeat center;
  height: 6px;
  width: 100%;
  border: 0;
  margin: 0; }
  @media screen and (max-width: 640px) {
    .multi-color-bar {
      height: 4px; } }

/* Buttons */
.btn {
  display: inline-block;
  background-color: #0879b5;
  padding: .938em 1.5em;
  color: #fff;
  font-size: 1em !important;
  font-weight: 700;
  letter-spacing: .5px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: .25s;
  text-decoration: none; }
  .btn:focus, .btn.focus {
    outline: 0; }
  .btn.disabled, .btn:disabled {
    opacity: .65; }
  .btn:hover {
    background-color: #0a9ae6; }
  @media screen and (max-width: 640px) {
    .btn {
      padding: .688em 1em; } }

.btn-positive {
  background-color: #5fb346; }
  .btn-positive:hover {
    background-color: #7dc468; }

.btn-donate {
  background-color: #d961a8; }
  .btn-donate:hover {
    background-color: #f3ae22; }
  @media screen and (max-width: 640px) {
    .btn-donate {
      padding: 9px 15px; } }

/* Block buttons */
.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: .75em; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

/* Buttons with icons */
.btn .fa {
  color: #fff;
  margin-right: .75em; }
.btn .fa.icon-right {
  margin-right: 0;
  margin-left: .75em; }

/* Forms */
.form-control {
  display: block;
  width: 100%;
  padding: .563em .5em;
  font-size: 1em;
  line-height: 1.25em;
  color: #343a40;
  background-color: #f8f9fa;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 3px;
  transition: .25s; }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control::placeholder {
    color: #868e96;
    opacity: 1; }
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #0879b5;
    outline: none;
    box-shadow: none; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; }

select.form-control:not([size]):not([multiple]) {
  height: 36px; }
select.form-control:focus::-ms-value {
  color: #212529;
  background-color: #f8f9fa; }

.form-control-file,
.form-control-range {
  display: block; }

.form-group label {
  padding-top: .5em;
  padding-bottom: .5em;
  line-height: 2.5;
  font-weight: 700; }

.form-group {
  margin-bottom: 1.5em; }

.form-text {
  display: block;
  margin-top: .25em; }

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px; }
  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px; }

.form-check {
  position: relative;
  display: block;
  margin-bottom: .5em; }
  .form-check.disabled .form-check-label {
    color: #868e96; }

.form-check-label {
  padding-left: 1em;
  margin-bottom: 0; }

.form-check-input {
  position: absolute;
  margin-top: .5em;
  margin-left: .5em; }

.form-check-inline {
  display: inline-block;
  margin-right: .5em; }
  .form-check-inline .form-check-label {
    vertical-align: middle; }

/* Grid */
/* Generic grid styles */
.grid {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 3.75em;
  padding-right: 3.75em; }
  @media screen and (max-width: 1200px) {
    .grid {
      padding-left: 3em;
      padding-right: 3em; } }
  @media screen and (max-width: 1024px) {
    .grid {
      padding-left: 2em;
      padding-right: 2em; } }
  @media screen and (max-width: 640px) {
    .grid {
      padding-left: 1.75em;
      padding-right: 1.75em; } }
  @media screen and (max-width: 480px) {
    .grid {
      padding-left: 1.25em;
      padding-right: 1.25em; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.875em 0 -1.875em; }
  .row > * {
    box-sizing: border-box;
    padding: 0 1.875em 3.75em;
    flex-basis: 100%; }
  .row:last-child {
    margin-bottom: -3.75em; }
  @media screen and (max-width: 1024px) {
    .row {
      margin: 0 -1em 0 -1em; }
      .row > * {
        box-sizing: border-box;
        padding: 0 1em 2em; }
      .row:last-child {
        margin-bottom: -2em; } }

.gutterless > .row {
  margin: 0; }
  .gutterless > .row > * {
    padding: 0; }
  .gutterless > .row:last-child {
    margin-bottom: 0; }

.col {
  flex: 1 0 auto; }

/* Default view */
.col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.col-2 {
  flex-basis: 16.666666666%;
  max-width: 16.666666666%; }

.col-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  flex-basis: 33.333333333%;
  max-width: 33.333333333%; }

.col-5 {
  flex-basis: 41.666666666%;
  max-width: 41.666666666%; }

.col-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  flex-basis: 58.333333333%;
  max-width: 58.333333333%; }

.col-8 {
  flex-basis: 66.666666666%;
  max-width: 66.666666666%; }

.col-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  flex-basis: 83.333333333%;
  max-width: 83.333333333%; }

.col-11 {
  flex-basis: 91.666666666%;
  max-width: 91.666666666%; }

.col-12 {
  flex-basis: 100%;
  max-width: 100%; }

.col-top {
  align-self: flex-start; }

.col-bottom {
  align-self: flex-end; }

.col-middle {
  align-self: center; }

.row-left {
  justify-content: flex-start; }

.row-right {
  justify-content: flex-end; }

.row-center {
  justify-content: center; }

.row-space-between {
  justify-content: space-between; }

.row-space-around {
  justify-content: space-around; }

.row-reverse {
  flex-direction: row-reverse; }

.row-equal > * {
  display: flex; }
  .row-equal > * > * {
    width: 100%; }

.row-top {
  align-items: flex-start; }

.row-middle {
  align-items: center; }

.row-bottom {
  align-items: flex-end; }

.hide {
  display: none; }

/* Small viewport (mobile) */
@media (max-width: 767px) {
  .col-small-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-small-2 {
    flex-basis: 16.666666666%;
    max-width: 16.666666666%; }

  .col-small-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-small-4 {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%; }

  .col-small-5 {
    flex-basis: 41.666666666%;
    max-width: 41.666666666%; }

  .col-small-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-small-7 {
    flex-basis: 58.333333333%;
    max-width: 58.333333333%; }

  .col-small-8 {
    flex-basis: 66.666666666%;
    max-width: 66.666666666%; }

  .col-small-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-small-10 {
    flex-basis: 83.333333333%;
    max-width: 83.333333333%; }

  .col-small-11 {
    flex-basis: 91.666666666%;
    max-width: 91.666666666%; }

  .col-small-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .col-small-top {
    align-self: flex-start; }

  .col-small-bottom {
    align-self: flex-end; }

  .col-small-middle {
    align-self: center; }

  .row-small-left {
    justify-content: flex-start; }

  .row-small-right {
    justify-content: flex-end; }

  .row-small-center {
    justify-content: center; }

  .row-small-space-between {
    justify-content: space-between; }

  .row-small-space-around {
    justify-content: space-around; }

  .row-small-reverse {
    flex-direction: row-reverse; }

  .row-small-equal > * {
    display: flex; }
    .row-small-equal > * > * {
      width: 100%; }

  .row-small-top {
    align-items: flex-start; }

  .row-small-middle {
    align-items: center; }

  .row-small-bottom {
    align-items: flex-end; }

  .hide-small {
    display: none; } }
/* Medium viewport (tablets) */
@media (min-width: 768px) and (max-width: 959px) {
  .col-medium-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-medium-2 {
    flex-basis: 16.666666666%;
    max-width: 16.666666666%; }

  .col-medium-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-medium-4 {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%; }

  .col-medium-5 {
    flex-basis: 41.666666666%;
    max-width: 41.666666666%; }

  .col-medium-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-medium-7 {
    flex-basis: 58.333333333%;
    max-width: 58.333333333%; }

  .col-medium-8 {
    flex-basis: 66.666666666%;
    max-width: 66.666666666%; }

  .col-medium-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-medium-10 {
    flex-basis: 83.333333333%;
    max-width: 83.333333333%; }

  .col-medium-11 {
    flex-basis: 91.666666666%;
    max-width: 91.666666666%; }

  .col-medium-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .col-medium-top {
    align-self: flex-start; }

  .col-medium-bottom {
    align-self: flex-end; }

  .col-medium-middle {
    align-self: center; }

  .row-medium-left {
    justify-content: flex-start; }

  .row-medium-right {
    justify-content: flex-end; }

  .row-medium-center {
    justify-content: center; }

  .row-medium-space-between {
    justify-content: space-between; }

  .row-medium-space-around {
    justify-content: space-around; }

  .row-medium-reverse {
    flex-direction: row-reverse; }

  .row-medium-equal > * {
    display: flex; }
    .row-medium-equal > * > * {
      width: 100%; }

  .row-medium-top {
    align-items: flex-start; }

  .row-medium-middle {
    align-items: center; }

  .row-medium-bottom {
    align-items: flex-end; }

  .hide-medium {
    display: none; } }
/* Large viewport (desktop) */
@media (min-width: 960px) {
  .col-large-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-large-2 {
    flex-basis: 16.666666666%;
    max-width: 16.666666666%; }

  .col-large-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-large-4 {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%; }

  .col-large-5 {
    flex-basis: 41.666666666%;
    max-width: 41.666666666%; }

  .col-large-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-large-7 {
    flex-basis: 58.333333333%;
    max-width: 58.333333333%; }

  .col-large-8 {
    flex-basis: 66.666666666%;
    max-width: 66.666666666%; }

  .col-large-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-large-10 {
    flex-basis: 83.333333333%;
    max-width: 83.333333333%; }

  .col-large-11 {
    flex-basis: 91.666666666%;
    max-width: 91.666666666%; }

  .col-large-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .col-large-top {
    align-self: flex-start; }

  .col-large-bottom {
    align-self: flex-end; }

  .col-large-middle {
    align-self: center; }

  .row-large-left {
    justify-content: flex-start; }

  .row-large-right {
    justify-content: flex-end; }

  .row-large-center {
    justify-content: center; }

  .row-large-space-between {
    justify-content: space-between; }

  .row-large-space-around {
    justify-content: space-around; }

  .row-large-reverse {
    flex-direction: row-reverse; }

  .row-large-equal > * {
    display: flex; }
    .row-large-equal > * > * {
      width: 100%; }

  .row-large-top {
    align-items: flex-start; }

  .row-large-middle {
    align-items: center; }

  .row-large-bottom {
    align-items: flex-end; }

  .hide-large {
    display: none; } }
/* Fluid container for full-width elements (e.g. site header, site footer, etc) */
.fluid {
  max-width: none; }

.fluid-gutterless {
  max-width: none;
  padding-left: 0;
  padding-right: 0; }

/* Icons */
.fa {
  color: #adb5bd; }

.fa + a {
  margin-left: .5em; }

.icon-donate {
  background: url("./assets/images/donate.svg") center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px; }

/* Main content */
.main-content {
  margin-bottom: 6em; }
  .main-content img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
    border-radius: 3px; }
  .main-content p {
    font-size: 1.25em;
    margin-bottom: 1em; }
  .main-content ul.bullets {
    font-size: 1.25em;
    margin-bottom: 1em; }
    .main-content ul.bullets li {
      margin: 0 0 .25em 4em; }
      @media screen and (max-width: 640px) {
        .main-content ul.bullets li {
          margin-left: 3em; } }
      @media screen and (max-width: 480px) {
        .main-content ul.bullets li {
          margin-left: 2em; } }
    .main-content ul.bullets li::before {
      content: "•";
      color: #f69516;
      display: inline-block;
      width: 1em;
      margin-left: -1em; }
  .main-content ul.yt-videos li {
    margin-right: 15px;
    float: left; }
  .main-content .full-subscribe-button {
    display: inline-block;
    width: 100%;
    text-align: center; }
  @media screen and (max-width: 640px) {
    .main-content {
      margin-bottom: 4em; } }

.icon-donate {
  display: none; }
  @media screen and (max-width: 640px) {
    .icon-donate {
      display: inline-block; } }

@media screen and (max-width: 640px) {
  .text-donate-btn {
    display: none; } }

/* Organism – Call to action block */
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 4em;
  padding-bottom: 4em; }
  .cta h3,
  .cta p {
    margin-bottom: 1em;
    text-align: center; }
  .cta p {
    margin-bottom: 2em; }
  .cta .btn {
    background-color: #803fc3;
    transition: .25s; }
    .cta .btn:hover {
      background-color: #9a66cf; }

/* Organism – Site footer */
.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #00476d;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em; }
  .site-footer h3 {
    color: #fff;
    opacity: .6; }
  .site-footer .fa {
    color: #fff;
    opacity: .4;
    padding: .5em .5em 0 .5em;
    transition: .25s; }
    .site-footer .fa:hover {
      opacity: 1; }
    @media screen and (max-width: 640px) {
      .site-footer .fa {
        padding: 0 .5em; } }
  @media screen and (max-width: 1024px) {
    .site-footer {
      padding-top: 4em;
      padding-bottom: 4em; } }
  @media screen and (max-width: 640px) {
    .site-footer {
      padding-top: 3em;
      padding-bottom: 3em; } }
  @media screen and (max-width: 480px) {
    .site-footer {
      padding-top: 2em;
      padding-bottom: 2em; } }

/* Organism – Site header */
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

.site-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
  .site-header .button-group {
    padding-top: .25em; }
    .site-header .button-group .btn {
      margin-left: .438em; }
    @media screen and (max-width: 640px) {
      .site-header .button-group {
        padding-top: 0; } }
  @media screen and (max-width: 640px) {
    .site-header {
      padding-top: 1em;
      padding-bottom: 1em; }
      .site-header #get-involved {
        display: none; } }

/* Organism – Masthead */
.masthead,
.masthead-lrg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 12em;
  padding-bottom: 4em; }
  .masthead h1,
  .masthead-lrg h1 {
    margin-top: .5em;
    text-align: center; }
  .masthead blockquote,
  .masthead-lrg blockquote {
    margin-top: 1.5em; }
  @media screen and (max-width: 1024px) {
    .masthead,
    .masthead-lrg {
      padding-top: 10em; } }
  @media screen and (max-width: 640px) {
    .masthead,
    .masthead-lrg {
      padding-top: 8em; } }

.masthead-lrg {
  padding-bottom: 8em; }
  @media screen and (max-width: 1024px) {
    .masthead-lrg {
      padding-bottom: 6em; } }
  @media screen and (max-width: 640px) {
    .masthead-lrg {
      padding-bottom: 4em; } }

/* Organism – Menu */
.menu-container {
  position: absolute;
  background-color: #fff;
  width: 100%;
  display: none; }

.site-menu,
.secondary-links {
  margin-top: 4em;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: -1px; }
  .site-menu .menu-item,
  .secondary-links .menu-item {
    margin-bottom: .5em; }
  .site-menu a,
  .secondary-links a {
    display: block;
    text-decoration: none; }
    .site-menu a:hover,
    .secondary-links a:hover {
      text-decoration: underline; }
  @media screen and (max-width: 1024px) {
    .site-menu,
    .secondary-links {
      font-size: 2.25em; } }
  @media screen and (max-width: 800px) {
    .site-menu,
    .secondary-links {
      font-size: 2em;
      letter-spacing: 0; } }
  @media screen and (max-width: 480px) {
    .site-menu,
    .secondary-links {
      font-size: 1.75em; } }

.secondary-links {
  margin-top: 2em;
  font-size: 1.75em;
  letter-spacing: 0; }
  @media screen and (max-width: 800px) {
    .secondary-links {
      font-size: 1.625em; } }
  @media screen and (max-width: 480px) {
    .secondary-links {
      font-size: 1.5em; } }

/* Organism – Quote/testimonial */
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 4em;
  padding-bottom: 4em; }
  .quote h3 {
    margin-bottom: 1em; }
  .quote blockquote {
    color: #343a40;
    max-width: 720px;
    margin-top: 1em;
    text-align: center; }
  .quote span {
    margin-top: .75em; }

html {
  height: 100%; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

ul {
  list-style-type: none; }

/* Stats */
.stat {
  display: flex;
  flex-direction: column;
  text-align: center; }

/* Typography */
body {
  color: #343a40;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

h1,
h2,
h3,
h4 {
  color: #803fc3;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: -1px; }

h1 {
  font-size: 3.25em; }
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 2.75em; } }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 2.5em; } }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2.25em; } }

h2 {
  font-size: 2.5em; }
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 2.25em; } }
  @media screen and (max-width: 800px) {
    h2 {
      font-size: 2em;
      letter-spacing: 0; } }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 1.75em; } }

h3 {
  font-size: 1.75em;
  letter-spacing: 0; }
  @media screen and (max-width: 800px) {
    h3 {
      font-size: 1.625em; } }
  @media screen and (max-width: 480px) {
    h3 {
      font-size: 1.5em; } }

h4 {
  font-size: 1.25em;
  letter-spacing: 0; }

/* Extra large display size */
.display {
  font-family: 'Quicksand', sans-serif;
  font-size: 5em; }
  @media screen and (max-width: 1024px) {
    .display {
      font-size: 3.75em; } }

/* Background text pattern */
.text-bg {
  background: url("../../assets/images/text-bg.png") repeat 0 0;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

p {
  max-width: 680px; }

p a,
.text-link {
  color: #0879b5;
  text-decoration: none; }
  p a:hover,
  .text-link:hover {
    text-decoration: underline; }

.text-large {
  font-size: 1.25em; }
  @media screen and (max-width: 640px) {
    .text-large {
      font-size: 1.125em; } }

strong {
  font-weight: 700; }

i {
  font-style: italic; }

abbr {
  border-bottom: 1px dotted #ced4da;
  text-decoration: none; }

blockquote {
  color: #5fb346;
  font-size: 1.5em;
  font-style: italic;
  text-align: center; }
  @media screen and (max-width: 480px) {
    blockquote {
      font-size: 1.25em; } }

/* Utilities */
/* Clear fix */
.clearfix::after {
  display: block;
  clear: both;
  content: ""; }

/* Circular images */
.image-circle {
  border-radius: 50%; }

/* Rounded corners */
.rounded {
  border-radius: 3px; }

/* Background colors */
.bg-purple {
  background-color: #803fc3; }

.bg-blue {
  background-color: #0879b5; }

.bg-green {
  background-color: #5fb346; }

.bg-sunflower {
  background-color: #f69516; }

.bg-amber {
  background-color: #d55219; }

.bg-dark-blue {
  background-color: #00476d; }

.bg-light-blue {
  background-color: #f2fbff; }

.bg-light-purple {
  background-color: #f8f1ff; }

/* Text color */
.color-purple {
  color: #803fc3 !important; }

.color-blue {
  color: #0879b5 !important; }

.color-green {
  color: #5fb346 !important; }

.color-sunflower {
  color: #f69516 !important; }

.color-amber {
  color: #d55219 !important; }

.color-light-gray {
  color: #868e96 !important; }

/* Vertical spacing */
.mt-1 {
  margin-top: .5em; }

.mt-2 {
  margin-top: 1em; }

.mt-3 {
  margin-top: 2em; }

.mt-4 {
  margin-top: 4em; }

.mt-5 {
  margin-top: 6em; }

.mt-6 {
  margin-top: 8em; }

.mb-1 {
  margin-bottom: .5em; }

.mb-2 {
  margin-bottom: 1em; }

.mb-3 {
  margin-bottom: 2em; }

.mb-4 {
  margin-bottom: 4em; }

.mb-5 {
  margin-bottom: 6em; }

.mb-6 {
  margin-bottom: 8em; }

/* Text alignment */
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }
  .text-center p {
    margin: 0 auto; }

.text-right {
  text-align: right; }

/*# sourceMappingURL=style.css.map */
